@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
}

.title {
    font-family: "Montserrat", sans-serif;
}

.title .title-text {
    margin: 2rem 4rem 2rem 4rem;
}

.title .title-text h1 {
    color: #1d4e89;
    font-size: 4rem;
}

.title .title-text h2 {
    font-size: 2rem;
}

.title .title-text hr {
    border-top: 1px solid #AC8181;
    margin: 1rem 0;
}

.title .title-text h4 {
    font-size: 1.18rem;
    color: #555555;
}

.exercises {
    margin: 0 4.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.exercises ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
}

.exercises ul li {
    margin: 0.1rem;
    color: #555555;
    font-size: 1.15rem;
}


.exercises ul li a {
    text-decoration: none;
    color: #00b2ca;
}
